
/* import backgroundImage from 'assets/imgs/wood-bg.jpg'; */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.board-row {
  max-width: 450px;
  margin: 0 auto;

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  align-items: center;
}

.board {
  margin: 0 auto;
}

.square {
  background: #fff;
  border: 1.5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 50px;
  cursor: pointer;
  background-image: url('assets/imgs/wood-bg.jpg');
}

.square:focus {
  outline: none;
}
.btn {
  font-size: 20px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
